@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Amatic";
  src: url("./fonts/AmaticSC-Regular.woff2") format("woff2"),
    url("./fonts/AmaticSC-Bold.woff2") format("woff2"),
    url("./fonts/AmaticSC-Regular.ttf") format("truetype"),
    url("./fonts/AmaticSC-Bold.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  font-family: "Amatic", cursive;
  font-size: 20px;
  color: rgb(65, 37, 102);
}
body {
  display: flex;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

h1 {
  font-size: 40px;
  font-weight: 300;
}
h3 {
  font-size: 30px;
  font-weight: 300;
  margin-top: 0;
}
h1,
h3,
p {
  transition: 700ms;
  color: rgb(65, 37, 102) !important;
}
a {
  text-decoration: none;
}

a p {
  position: relative;
  display: inline-block;
}

a p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background: rgb(255, 255, 255);
  transition: width 0.3s ease;
}

a p:hover::after {
  width: 100%;
}

p {
  text-align: justify;
}

h1:hover,
h3:hover,
p:hover {
  letter-spacing: 0.1px;
}
