@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Patrick+Hand+SC&family=Shadows+Into+Light&display=swap");
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Amatic";
  src:
    url("./fonts/AmaticSC-Regular.woff2") format("woff2"),
    url("./fonts/AmaticSC-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Amatic";
  src:
    url("./fonts/AmaticSC-Bold.woff2") format("woff2"),
    url("./fonts/AmaticSC-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Edda";
  src: url("./fonts/EddaFilled.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Zeppelin";
  src: url("./fonts/Zeppelin.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.edda {
  font-family: Edda !important;
}
.zeppelin {
  font-family: Zeppelin !important;
}
* {
  box-sizing: border-box;
  font-family: "Amatic", cursive;
  font-size: 20px;
  color: rgb(37, 79, 102) !important;
}
body {
  display: flex;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

h1 {
  font-size: 40px;
  font-weight: 300;
}
h3 {
  font-size: 32px;
  margin-top: 0;
}
h1,
h3,
p {
  transition: 700ms;
}
a {
  text-decoration: none;
  font-family: Zeppelin !important;
}

a p {
  position: relative;
  display: inline-block;
}

a p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background: rgb(255, 255, 255);
  transition: width 0.3s ease;
}

a p:hover::after {
  width: 100%;
}

p {
  text-align: justify;
}

h1:hover,
h3:hover,
p:hover {
  letter-spacing: 0.1px;
}

.handWrite1 {
  font-family: "Patrick Hand SC", cursive !important;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
.handWrite2 {
  font-family: "Shadows Into Light", cursive !important;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
.handWrite3 {
  font-family: "Gloria Hallelujah", cursive !important;
  font-weight: 200;
  font-style: normal;
  font-size: 16px;
}
